body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#table-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

#node-table {
  margin: 0 auto;
  border-spacing: 1px;
}

td {
  width: 30px;
  height: 30px;
  border: solid 1px black;
}

.is-start-node {
  background-color: green;
}

.is-end-node {
  background-color: red;
}

.is-wall-node {
  background-color: black;
}
